<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://github.com/Ma-Zhuang/Pic/blob/master/1583260475126.png?raw=true"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/letter.css}"/>
    <title>Message detail</title>
</head>
<body>
<div class="nk-container">
    <!-- header -->
    <header th:replace="site/discussIndex::header">
    </header>

    <!-- content -->
    <div class="main row">
        <div class="container col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-8">
                    <h6><b class="square"></b> Message from <i class="text-success" th:utext="${target.username}">
                        username
                    </i>
                    </h6>
                </div>
                <div class="col-4 text-right">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="back();">Back</button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#sendModal">
                        Message to <span th:utext="${target.username}"></span>
                    </button>
                </div>
            </div>
            <!-- pop up -->
            <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Send Message to <span
                                    th:utext="${target.username}"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="recipient-id"
                                   th:value="${target.id}">
                            <input type="hidden" id="aheader"
                                   th:value="${target.headerUrl}">
                            <input type="hidden" id="bheader"
                                   th:value="${loginUser.headerUrl}">
                            <input type="hidden" id="toName"
                                   th:value="${target.username}">
                            <!--<form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">To：</label>
                                    <input type="text" class="form-control" id="recipient-name"
                                           th:value="${target.username}">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Content：</label>
                                    <textarea class="form-control" id="message-text" rows="10"></textarea>
                                </div>
                            </form>-->
                            <div class="talk_show" id="words"></div>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
                            <input type="text" class="talk_word" id="talkwords">
                            <button type="button" class="btn btn-primary" id="sendBtn">Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- remind -->
            <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hintModalLabel">Remind</h5>
                        </div>
                        <div class="modal-body" id="hintBody">
                            Sent!
                        </div>
                    </div>
                </div>
            </div>

            <!-- message list -->
            <input type="hidden" id="userId" th:value="${loginUser.id}">
            <ul class="list-unstyled mt-4">
                <li class="media pb-3 pt-3 mb-2" th:each="map:${letters}">
                    <a th:href="@{|/user/profile/${map.fromUser.id}|}">
                        <img th:src="${map.fromUser.headerUrl}" class="mr-4 rounded-circle user-header"
                             alt="profile picture" th:if="${loginUser.id!=map.fromUser.id}">
                    </a>
                    <div class="toast show d-lg-block" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="mr-auto" th:utext="${map.fromUser.username}">username</strong>
                            <small th:text="${map.letter.createTime}"></small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body" th:utext="${map.letter.content}">
                            content
                        </div>
                    </div>
                    <a th:href="@{|/user/profile/${map.fromUser.id}|}">
                        <img th:src="${map.fromUser.headerUrl}" class="mr-4 rounded-circle user-header"
                             alt="profile picture" th:if="${loginUser.id==map.fromUser.id}">
                    </a>
                </li>
            </ul>
            <!-- pagination -->
            <nav class="mt-5" th:replace="site/discussIndex::pagination"></nav>
        </div>
    </div>

    <!-- foot -->
    <footer th:replace="site/discussIndex::footer">
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/letter.js}"></script>
<script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script>
    function back() {
        location.href = CONTEXT_PATH + "/letter/list";
    }
</script>
</body>
</html>
