<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://github.com/Ma-Zhuang/Pic/blob/master/1583260475126.png?raw=true"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/letter.css}"/>
    <title>Tag Management</title>
</head>
<body>
<div class="nk-container">
    <!-- header -->
    <header th:replace="site/discussIndex::header">
    </header>

    <!-- content -->
    <div class="main row">
        <div class="container col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="position-relative">
                <!-- options -->
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <h3>Tag Management</h3>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary btn-sm position-absolute rt-0" data-toggle="modal"
                        data-target="#sendModal" style="right: 120px">Add tags
                </button>
                <button type="button" class="btn btn-primary btn-sm position-absolute rt-0" data-toggle="modal"
                        data-target="#addCategory">Add Category
                </button>
            </div>
            <!-- Pop-up box -->
            <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Tags</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="category-text" class="col-form-label">Content：</label>
                                    <select id="category-text" class="form-control">
                                        <option th:each="category:${categoryList}" th:value="${category.name}" th:utext="${category.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Tag Name：</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-primary" id="sendBtn">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCategoryLabel">Add Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="Category-name" class="col-form-label">Category Name：</label>
                                    <input type="text" class="form-control" id="Category-name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-primary" id="categoryBtn">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tooltip -->
            <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hintModalLabel">Remind</h5>
                        </div>
                        <div class="modal-body" id="hintBody">
                            Success!
                        </div>
                    </div>
                </div>
            </div>

            <!-- message list -->
            <ul class="list-unstyled">
                <li class="media pb-3 pt-3 mb-3 border-bottom position-relative" th:each="map:${AllTags}">
                    <span class="badge badge-danger" th:text="${map.tagsTagNumber}" th:if="${map.tagsTagNumber!=0}" style="left: 850px;font-size: x-large;">3</span>
                    <div class="media-body">
                        <h6 class="mt-0 mb-3">
                            <a th:href="@{|/discuss/tag/${map.tag.tagName}|}" th:utext="${map.tag.tagName}"></a>
                        </h6>
                    </div>
                </li>
            </ul>
            <!-- pagination -->
            <nav class="mt-5" th:replace="site/discussIndex::pagination"></nav>
        </div>
    </div>
    <!-- foot -->
    <footer th:replace="site/discussIndex::footer">
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/tag.js}"></script>
</body>
</html>
