<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mz.community.dao.neo4jMapper.NeoCrawlerDiscussPostMapper">

    <select id="selectMaxPostId" resultType="int">
        match(d:DiscussPost) return d.PostId order by d.PostId desc limit 1
    </select>

    <insert id="insertCrawler" parameterType="java.util.List">
        <foreach collection="discussPostList" item="post">
            create(:DiscussPost{PostId:#{post.id},userId:#{post.userId},title:#{post.title},content:#{post.content},status:#{post.status},score:#{post.score},type:#{post.type},create_Time:'${post.createTime}',commentCount:#{post.commentCount},linkUrl:#{post.linkUrl}})
        </foreach>
    </insert>

    <insert id="insertCrawlerTags" parameterType="java.util.List">
        <foreach collection="tagsList" item="tags" index="index">
            <!--MERGE(:Tags{tagName:#{tags.tagName}})-->
            MERGE(t${index}:Tags{tagName:#{tags.tagName}})
            with t${index} as t${index}
            match(c${index}:Category{name:#{category}})
            create(t${index})-[:BELONG]->(c${index})
        </foreach>
    </insert>

</mapper>