<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mz.community.dao.neo4jMapper.NeoDiscussPostMapper">

    <select id="selectTagByTagName" resultType="Tags">
        match(n:Tags) where n.tagName='${tagName}' return n.tagName as tagName
    </select>

    <select id="selectTagsByDiscussPostId" resultType="Tags">
        MATCH (:DiscussPost{PostId:#{postId}})-[:TAGS]->(n:Tags) return n.tagName as tagName
    </select>

    <select id="selectTags" resultType="Tags">
        MATCH (n:Tags) RETURN n.tagName as tagName
    </select>
    <insert id="insertDiscussPost" parameterType="DiscussPost">
        create(:DiscussPost{PostId:#{id},userId:#{userId},title:#{title},content:#{content},status:#{status}})
    </insert>

    <insert id="insertTags" parameterType="Tags">
        create(:Tags{tagName:#{tagName}})
    </insert>

    <insert id="insertRelationDiscussPost">
        match(u:User{UserId:#{userId}})
        match(d:DiscussPost{PostId:#{postId}})
        create (u)-[:POSTS]->(d)
        with u as u1,d as d1
        match(t:Tags) where t.tagName in #{tagName}
        create (d1)-[:TAGS]->(t)
    </insert>
</mapper>