<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Generate the csrf token here when visiting the page  TODO-->
    <!--<meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
    <link rel="icon" href="https://github.com/Ma-Zhuang/Pic/blob/master/1583260475126.png?raw=true"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <title>HomePage</title>
</head>
<body>
<div class="nk-container bg-gray">

    <!-- header -->
    <header class="bg-dark sticky-top">
        <div class="container">
            <!-- nav -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <!-- logo -->
                <a class="navbar-brand" th:href="@{/index}"></a>
                <!-- function -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" th:href="@{/index}">HomePage</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" th:href="@{/discussIndex}">Article</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" th:href="@{/question}">Question</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}">
                            <a class="nav-link position-relative" th:href="@{/letter/list}">Message<span
                                    class="badge badge-danger"
                                    th:text="${allUnreadCount!=0?allUnreadCount:''}">12</span></a>
                            <!--<audio autoplay="autoplay" id="auto"
                                   src="http://data.huiyi8.com/2017/gha/03/17/1702.mp3"
                                   th:if="${allUnreadCount!=0}"></audio>-->
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/register}">Register</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/login}">Sign in</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img th:src="${loginUser.headerUrl}" class="rounded-circle"
                                     style="width:30px;"/>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" th:href="@{|/user/profile/${loginUser.id}|}">Your
                                    profile</a>
                                <a class="dropdown-item text-center" th:href="@{/user/setting}">Account Settings</a>
                                <a class="dropdown-item text-center" th:href="@{/logout}">Sign out</a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">nowcoder</span>
                            </div>
                        </li>
                    </ul>
                    <!-- search -->
                    <!--<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}">
                        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="keyword"
                               th:value="${keyword}"/>
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>-->
                </div>
            </nav>
        </div>
    </header>

    <div class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><!--https://github.com/Ma-Zhuang/Pic/blob/master/Q&ALOGO472x472.png?raw=true-->
                    <img class="logo" src="https://github.com/Ma-Zhuang/Pic/blob/master/Q&ALOGO472x472.png?raw=true">
                    <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}">
                        <input class="searchBar" type="search">
                        <button class="btnSearch" type="submit" style="color:white" ;>Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                © 2020
                <a href="https://github.com/Final-Year-project-10664074-MaZhuang/ComprehensiveCommunityFinal">
                    By Zhuang Ma(10664074)
                </a>
            </p>
        </div>
    </footer>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>