<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="https://github.com/Ma-Zhuang/Pic/blob/master/1583260475126.png?raw=true"/>
    <title>Recommend Question</title>
</head>
<body>
	<p>
		Dear <b th:text="${targetName}"></b>,
	</p>
	<p>
		<b th:text="${AuthorName}"></b> posted a question you may be interested in,
		please click the
		<a th:href="${url}">link</a> for details.
		<br>
	<hr>
	<a th:href="${url}">
		<img th:src="${AuthorHeaderUrl}" alt="Profile Picture" style="width: 50px;height: 50px;">:&nbsp;
	</a>
	<span th:utext="${title}">fsdfsfd</span>
	<hr>
    <p>
        Thanks,
    </p>
    <p>
        The Q&A Comprehensive Community Team
    </p>
</body>
</html>